# Ensemble Learning

## Initial Imports

In [124]:
import warnings
warnings.filterwarnings('ignore')

In [125]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [126]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Read the CSV and Perform Basic Data Cleaning

In [127]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [128]:
# Encode categorical data

yn_binary = {
    "N":0,
    "n":0,
    "Y":1,
    "y":1
}
df.drop(columns=["issue_d", "initial_list_status", "next_pymnt_d"], inplace=True)
df["pymnt_plan"] = df["pymnt_plan"].apply(lambda x: yn_binary[x])
df["hardship_flag"] = df["hardship_flag"].apply(lambda x: yn_binary[x])
df["debt_settlement_flag"] = df["debt_settlement_flag"].apply(lambda x: yn_binary[x])
df = pd.get_dummies(df, columns=['home_ownership', "verification_status", "application_type"])
new_cols = [col for col in df.columns if col != 'loan_status'] + ['loan_status']
df = df[new_cols]
df

,loan_amnt,int_rate,installment,annual_inc,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,home_ownership_ANY,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,application_type_Individual,application_type_Joint App,loan_status
0,10500.0,0.1719,375.35,66000.0,0,27.24,0.0,0.0,8.0,0.0,...,0,0,0,1,0,1,0,1,0,low_risk
1,25000.0,0.2000,929.09,105000.0,0,20.23,0.0,0.0,17.0,1.0,...,0,1,0,0,0,0,1,1,0,low_risk
2,20000.0,0.2000,529.88,56000.0,0,24.26,0.0,0.0,8.0,0.0,...,0,1,0,0,0,0,1,1,0,low_risk
3,10000.0,0.1640,353.55,92000.0,0,31.44,0.0,1.0,10.0,1.0,...,0,0,0,1,0,0,1,1,0,low_risk
4,22000.0,0.1474,520.39,52000.0,0,18.76,0.0,1.0,14.0,0.0,...,0,1,0,0,1,0,0,1,0,low_risk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68812,10000.0,0.1502,346.76,26000.0,0,9.60,0.0,0.0,9.0,0.0,...,0,0,0,1,0,1,0,1,0,low_risk
68813,12000.0,0.2727,368.37,63000.0,0,29.07,0.0,0.0,8.0,0.0,...,0,0,0,1,1,0,0,1,0,low_risk
68814,5000.0,0.1992,185.62,52000.0,0,14.86,0.0,0.0,5.0,1.0,...,0,1,0,0,0,1,0,1,0,low_risk
68815,40000.0,0.0646,1225.24,520000.0,0,9.96,0.0,1.0,21.0,0.0,...,0,1,0,0,0,0,1,1,0,low_risk
68816,16000.0,0.1131,350.36,72000.0,0,7.02,2.0,0.0,12.0,1.0,...,0,1,0,0,0,0,1,1,0,low_risk

## Split the Data into Training and Testing

In [129]:
# Create our features
X = df.drop(columns=["loan_status"])

# Create our target
y = df["loan_status"]

In [130]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,debt_settlement_flag,home_ownership_ANY,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,application_type_Individual,application_type_Joint App
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,8.821371e+04,0.0,21.778153,0.217766,0.497697,12.587340,0.126030,...,0.0,0.009285,0.526309,0.106747,0.357659,0.478007,0.373992,0.148001,0.860340,0.139660
std,10277.348590,0.048130,288.062432,1.155800e+05,0.0,20.199244,0.718367,0.758122,6.022869,0.336797,...,0.0,0.095914,0.499311,0.308793,0.479314,0.499520,0.483865,0.355104,0.346637,0.346637
min,1000.000000,0.060000,30.890000,4.000000e+01,0.0,0.000000,0.000000,0.000000,2.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9000.000000,0.088100,265.730000,5.000000e+04,0.0,13.890000,0.000000,0.000000,8.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,15000.000000,0.118000,404.560000,7.300000e+04,0.0,19.760000,0.000000,0.000000,11.000000,0.000000,...,0.0,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,24000.000000,0.155700,648.100000,1.040000e+05,0.0,26.660000,0.000000,1.000000,16.000000,0.000000,...,0.0,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000
max,40000.000000,0.308400,1676.230000,8.797500e+06,0.0,999.000000,18.000000,5.000000,72.000000,4.000000,...,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [131]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [132]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [133]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()

In [134]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = data_scaler.fit(X_train)

In [135]:
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [153]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier

rf_model = BalancedRandomForestClassifier(n_estimators=500, random_state=1)
rf_model = rf_model.fit(X_train_scaled, y_train)
y_pred = rf_model.predict(X_test_scaled)

In [154]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.7162591229890061

In [155]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)
cm_df

          Predicted 0  Predicted 1
Actual 0           60           41
Actual 1         2763        14341

In [139]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.02      0.59      0.84      0.04      0.71      0.49       101
   low_risk       1.00      0.84      0.59      0.91      0.71      0.51     17104

avg / total       0.99      0.84      0.60      0.91      0.71      0.51     17205

In [145]:
# List the features sorted in descending order by feature importance
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.06661063199651111, 'total_rec_prncp'),
 (0.06447914987224355, 'total_rec_int'),
 (0.060514529390235446, 'last_pymnt_amnt'),
 (0.055786666336777126, 'total_pymnt'),
 (0.05499403538538883, 'total_pymnt_inv'),
 (0.03278388496286508, 'int_rate'),
 (0.020070463868758413, 'dti'),
 (0.019051745686531698, 'mths_since_recent_inq'),
 (0.018101122244224218, 'installment'),
 (0.017263161088940982, 'max_bal_bc'),
 (0.016756867104044063, 'annual_inc'),
 (0.01632514492330037, 'out_prncp'),
 (0.016196733058178883, 'mo_sin_old_rev_tl_op'),
 (0.01602232548695511, 'tot_hi_cred_lim'),
 (0.01588272916700662, 'il_util'),
 (0.015770475916786358, 'mths_since_rcnt_il'),
 (0.01574636928567132, 'revol_bal'),
 (0.015346168025129628, 'out_prncp_inv'),
 (0.01529756139089808, 'mo_sin_old_il_acct'),
 (0.014993791415145792, 'total_bc_limit'),
 (0.014671569399516488, 'tot_cur_bal'),
 (0.01455732776632548, 'bc_util'),
 (0.014457073362670502, 'bc_open_to_buy'),
 (0.014297459800644922, 'avg_cur_bal'),
 (0.014172439434163601, 'total_bal_il'),
 (0.014128121098191507, 'total_bal_ex_mort'),
 (0.01381324920956889, 'total_rev_hi_lim'),
 (0.01375796702460676, 'all_util'),
 (0.013296788629542014, 'total_il_high_credit_limit'),
 (0.012770809998617792, 'total_acc'),
 (0.012601823999466334, 'num_rev_accts'),
 (0.012204340443172638, 'mths_since_recent_bc'),
 (0.01204933639388994, 'loan_amnt'),
 (0.010508497858164139, 'inq_last_12m'),
 (0.010361041131093625, 'mo_sin_rcnt_rev_tl_op'),
 (0.010315888915198591, 'acc_open_past_24mths'),
 (0.010264085425237523, 'num_il_tl'),
 (0.010102706071077905, 'pct_tl_nvr_dlq'),
 (0.009876492777380941, 'mo_sin_rcnt_tl'),
 (0.009809406220396527, 'num_bc_tl'),
 (0.009745937989247415, 'num_op_rev_tl'),
 (0.009730142833883544, 'open_acc'),
 (0.008975674216731724, 'open_il_24m'),
 (0.008974031308116687, 'num_actv_rev_tl'),
 (0.008694816578422545, 'num_sats'),
 (0.008317789735676512, 'num_tl_op_past_12m'),
 (0.00822210265787774, 'num_actv_bc_tl'),
 (0.00818218753621751, 'percent_bc_gt_75'),
 (0.008161538962014108, 'num_rev_tl_bal_gt_0'),
 (0.008157102903163493, 'total_rec_late_fee'),
 (0.007334210816394494, 'open_rv_24m'),
 (0.007244267092314296, 'total_cu_tl'),
 (0.007123407918133085, 'inq_fi'),
 (0.006929552171678369, 'open_acc_6m'),
 (0.006577715807286935, 'num_bc_sats'),
 (0.006437924932621985, 'mort_acc'),
 (0.006372646394887141, 'open_act_il'),
 (0.005783962422351449, 'open_il_12m'),
 (0.005755958512047703, 'inq_last_6mths'),
 (0.004643947995256371, 'tot_coll_amt'),
 (0.004642090638573601, 'open_rv_12m'),
 (0.003727170006067169, 'delinq_2yrs'),
 (0.003623206910500616, 'num_accts_ever_120_pd'),
 (0.002130602559566528, 'application_type_Joint App'),
 (0.0020716622393961094, 'verification_status_Not Verified'),
 (0.0020471382665422895, 'pub_rec'),
 (0.0020170486814422403, 'home_ownership_OWN'),
 (0.001917957194295285, 'application_type_Individual'),
 (0.0018972328573681572, 'home_ownership_MORTGAGE'),
 (0.001854328457383739, 'verification_status_Verified'),
 (0.0016266226835241358, 'verification_status_Source Verified'),
 (0.0016145444612148385, 'home_ownership_RENT'),
 (0.0015887769953972395, 'pub_rec_bankruptcies'),
 (0.0009230615759722201, 'num_tl_90g_dpd_24m'),
 (0.0003849879762809288, 'home_ownership_ANY'),
 (0.00037654104126852005, 'collections_12_mths_ex_med'),
 (0.00018212710636441768, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble Classifier

In [146]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier
ee_model = EasyEnsembleClassifier(n_estimators=10, random_state=1)
ee_model = ee_model.fit(X_train_scaled, y_train)
y_pred = ee_model.predict(X_test_scaled)

In [147]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.7064886680436051

In [151]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)
cm_df

          Predicted 0  Predicted 1
Actual 0           68           33
Actual 1         4452        12652

In [152]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.02      0.67      0.74      0.03      0.71      0.49       101
   low_risk       1.00      0.74      0.67      0.85      0.71      0.50     17104

avg / total       0.99      0.74      0.67      0.84      0.71      0.50     17205

### Final Questions

1. Which model had the best balanced accuracy score?

    Balanced Random Forest Classifier

2. Which model had the best recall score?

    Balanced Random Forest had the best overall recall score, however Easy Ensemble Classifier had better recall when it came to correctly labeling high risk.

3. Which model had the best geometric mean score?

    Both ensemble methods had equivalent geometric mean scores on this dataset. 

4. What are the top three features?
    
    The top three features in order of their weights:
    1. total_rec_prncp (0.06661063199651111)
    2. total_rec_int (0.06447914987224355)
    3. last_pymnt_amnt (0.060514529390235446)